.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

img{
    border: 2px solid black;
    height: 200px;
    width: fit-content;
}



.flex-items{
    border: 5px solid rgb(3, 3, 3);
}

footer{
    text-align: center;
    background-color:beige;
    display: block;
    margin-top: auto;
    height: auto;
}

.index{
    margin-top: 229px;
}